
#page1{
    display:none;
}
#page1:target{
    display:block;
    height:100%;
    width:100%;
}
#page2{
    display:none;
}
#page2:target{
    display:block;
    height:100%;
    width:100%;
}
#page3{
    display:none;
}
#page3:target{
    position: fixed;
    display: block;
    height: 100%;
    width: 100%;
    left: 40%;
}
#page4{
    display:none;
}
#page4:target{
    position: fixed;
    display: block;
    height: 100%;
    width: 100%;
    left: 40%;
}
#page5{
    display:none;
}
#page5:target{
    position: fixed;
    display: block;
    height: 100%;
    width: 100%;
    left: 40%;
}
    body {
        font-family: 'Roboto', sans-serif;
        background-color: white;
        margin: 1;
        padding: 1;
    }
    li{
        margin-top: 10px;
    }
    .menu {
        width: 200px;
        height: 100vh;
        background-color: #333;
        position: fixed;
        top: 0;
        left: 0;
        padding-top: 20px;
        box-shadow: 2px 3px 3px 2px black;
    }
   
    @media screen and (max-width: 768px) {
        .menu{
            font-size:50px;
        }
    }

    @media screen and (max-width: 480px) {
        .menu {
            font-size:50px; 
 
        }
    }
    li{
        color: white;
        padding: 10px;
        font-size:1.5rem;
        position: relative;
        left: 7%;
    }
    a{
        color: white;
        padding: 10px;
        margin: 10px;
    }
    h1{
        left: 30%;
        position: relative;
        font-size:40px;
    }
    p{
        left:32%;
        position:relative;
    }
    .logo{
        left:550px;
        position:relative;
    }

    